@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-items div {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
    transition: all;
    transition-duration: 100;
    /* border: 1px black solid; */
    border-radius: 6px;
}

.nav-items div:hover {
    /* background-color: #2c59d7; */
    color: #0442ED;
    transition: all;
    transition-duration: 100ms;
    /* color: black; */
    /* border: 1px black solid; */
    border-radius: 100px;
}

.active {
    /* background-color: #0442ED; */
    /* color: white; */
    color: #0442ED;
    font: bold;
    font-size: 23px;
    /* border: 1px black solid; */
    border-radius: 100px;
    transition: all;
    transition-duration: 100;
}

.message-box {
    max-width: 300px;
    word-wrap: break-word;
}


::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}